.buttonWrapper {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(139, 153, 169, 0.24);
}

.iconButton {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border: none;
    border-top: 1px solid #dedede;
}

.iconButton:hover {
    background: #c2bbbb;
}

.iconButton:active {
    background: #989494;
    border-color: #eee;
    color: #eee;
}

.iconButton:first-child {
    border-radius: 16px 16px 0 0;
    border: none;
}

.iconButton:last-child {
    border-radius: 0 0 16px 16px;

}

.tooltip {
    left: 30%;
}